$--color--accent--primary: #262626;

$--color--menuitem-light: #E2F1FF;
$--color--menuitem-dark: #007cff;

$--color--ingredient-light: #F1E3FD;
$--color--ingredient-dark: #B58EE8;

$--color--and-light: #FFF7E5;
$--color--and-dark: #d5a06f;

$--text--light: #EEEEEE;
$--text--gray: #888888;
$--text--dark: #262626;