@import "../../styles/media";
@import "../../styles/dropdown";

.results-wrapper {
  @include dropdown-container;

  &.collapse {
    opacity: 0;
  }

  &--item,
  &--no-results {
    display: inline-block;
    padding: 0.5em 1em;
    transition: background-color 100ms;
  }

  &--item {
    &:not(.disabled) {
      cursor: pointer;
    }

    @include desktop {

      &:not(.disabled):hover,
      &:not(.disabled):focus-visible {
        outline: none;
        background-color: #EEEEEE;
      }
    }

    @include mobile {
      &:not(.disabled):not(.and):active {
        background-color: #A9A9A9;
      }
    }
  }
}