.searchbar-wrapper {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 900px;
    height: 3.5em;
    border: #CB91B1 solid 0.2em;
    border-radius: 0.25em;
    background-color: white;
    gap: 0.5em;

    &--orderlist {
      display: flex;
      align-items: center;
      flex-direction: row;
      max-width: 60%;
      padding-left: 0.5em;
      gap: 0.5em;
    }

    &--search-container {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      & > input {
        font-size: 1em;
        width: 100%;
        border: none;

        &:focus-visible {
          outline: none;
        }
      }

      &--button {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 3.5em;
        height: 3.5em;
        border: none;
        background: none;

        & > svg {
          width: 1.5em;
          height: 1.5em;

          & > path {
            fill: #ABABAB;
          }
        }
      }
    }
  }
}