@import "styles/media";
@import "styles/colors";

.nameplate-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2em;
  gap: 1.5em;

  @include mobile {
    display: none;
  }

  img {
    width: 4em;
  }

  span {
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: $--text--dark;
  }
}