@import "styles/colors";

.item-wrapper {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 0.2em 0.3em;
  list-style-type: none;
  border-radius: 0.3em;
  gap: 0.3em;

  &__text {
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
  }

  &.menu-item {
    text-transform: capitalize;
    color: $--color--menuitem-dark;
    border: $--color--menuitem-dark 1px solid;
    background-color: $--color--menuitem-light;

    & > div > svg > path {
      fill: $--color--menuitem-dark;
    }
  }

  &.ingredient {
    text-transform: capitalize;
    color: $--color--ingredient-dark;
    border: $--color--ingredient-dark 1px solid;
    background-color: $--color--ingredient-light;

    & > div > svg > path {
      fill: $--color--ingredient-dark;
    }
  }

  &.and {
    text-transform: uppercase;
    color: $--color--and-dark;
    border: $--color--and-dark 1px solid;
    background-color: $--color--and-light;

    & > div > svg > path {
      fill: $--color--and-dark;
    }
  }

  & > div > svg {
    width: 0.8em;
    height: 0.8em;
  }

  &__btn {
    cursor: pointer;
  }
}