.home-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20vh;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
  }
}